.App {
  text-align: left;
}

.navbar-dark .navbar-nav .nav-link .orange {
  color: #f29f0f;
}

.nav-item {
  margin-left: 25px;
}

.white {
  color: white;
}

.sort,
.searchIcon,
.del {
  cursor: pointer;
}

.addUser,
.addUser:hover {
  background-color: #f29f0f;
  color: white;
  margin-left: 30px;
  margin-right: 30px;
}

.bigButton {
  padding-left: 32%;
  padding-right: 36%;
}

.inlineRadio1 {
  padding-right: 34%;
}

.del {
  color: gray;
}

.drpdwn {
  margin-top: 10px;
}
